VITE_SUPABASE_URL=https://xckmtyvpehoriwteugnq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhja210eXZwZWhvcml3dGV1Z25xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1MzMwMTEsImV4cCI6MjEwNjEwOTAxMX0.2IYyZY_apFnXmJ4vWFB3fXP73_PD1cgoJpREYJf-QM0
